<?xml version="1.0"?>
<launch>

  <!-- Get time reference from clock topic from bag file -->
  <param name="use_sim_time" value="true" />  

  <!-- Get a tf frame to make rviz happy (add base_link) -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_broadcaster" args="0 -0.25 2.1 0 0 0.25 map velodyne" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_broadcaster" args="0 -0.25 2.1 0 0 0.0 map camera" /> 

  <!-- Run lidar_filter node -->
  <node pkg="golfcart_push" type="lidar_filter" name="lidar_filter" output="screen" >
    <remap from="input_points" to="/velodyne_points" /> 
  </node>

  <!-- Run camera_vision node -->
  <node pkg="golfcart_push" type="camera_vision" name="camera_vision" output="screen" >
    <remap from="input_images" to="/front_camera/image_rect_color" /> <!-- /front_camera/image_raw -->
  </node>

  <!-- Rviz config -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find golfcart_push)/rviz/svc.rviz"/>

  <!-- Play bag, use sim time, run on loop
  <node pkg="rosbag" type="play" name="player" output="screen" args="(add dash here)-clock /home/bdawg/grudz_ws/src/golfcart_push/bags/moving-002.bag -l"/>  -->

  <!-- Reconfigure server -->
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="reconfig" />
  
</launch>
